/*csslint order-alphabetical: false, box-model: false; */
body {
    width: 855px;
    margin: auto;
    background: ivory;
    font-size: 100%;
    font-family: sans-serif;
}

header {
  overflow: auto;
  border-bottom: 1px solid darkslategray;
}

h1 {
  float: left;
  margin: 0;
  padding: 0;
}


header p {
  margin: 0;
  padding: 0;
  float: right;
  width: 570px;
  font-style: italic;
  margin-top: 10px;
}

main {
  overflow: auto;
  padding: 30px 0;
  border-bottom: 1px solid darkslategray;
}


.comment-inputA,.comment-inputB {
  float: left;
  width: 285px;
  margin: 30px;
}

.comment-inputA p, .comment-inputB p{
  margin-bottom: 10px;
}

.comment-inputA input,.comment-inputB input {
  width: 80%;
  height: 30px;
  font-size: 1.2em;
  font-weight: bold;
}

.comment-inputA button, .comment-inputB button {
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  color: ivory;
  background: olivedrab;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 5px;
}

.comments {
  border: 2px dotted;
  padding: 30px;
  margin: 30px;
  overflow: auto;
  float: left;
  width: 570px;
}
.comments p:nth-child(odd){
   background: lavender;
}

.comments p:nth-child(even){
   background: lightblue;
}

.comments p {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.chat_A{
    color:blue;
    text-align: left;
}


.chat_B{
    color: red;
    text-align: right;
}

footer {
    font-size: smaller;
    margin-top: 5px;
    clear: both;
}